/* In this file you can add your custom styles. */
* {
  box-sizing: border-box;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: auto;
  padding-left: 50px;
}
