.btn {
  background-color: violet;
  border: none;
  color: white;
}

.spaceBetween .btnEditlists {
  margin-right: 20px;
}

.completeTask {
  background: url(../images/unchecked.png);
  background-size: 100%;
  /* background-color: violet; */
  border: none;
  color: white;
  padding: 5px;
  border-radius: 10%;
  height: 42px;
  width: 42px;
  margin-left: 5px;
  margin-right: 5px;
}

.unCompleteTask {
  background: url(../images/checked.png);
  background-size: 100%;
  /* background-color: violet; */
  border: none;
  color: white;
  padding: 5px;
  border-radius: 10%;
  height: 35px;
  width: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.btnEditTasks {
  background: url(../images/edit.png);
  background-size: 100%;
  /* background-color: violet; */
  border: none;
  color: white;
  padding: 5px;
  border-radius: 10%;
  height: 35px;
  width: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.btnDelete {
  background: url(../images/delete.png);
  background-size: 100%;
  /* background-color: violet; */
  border: none;
  color: white;
  padding: 5px;
  border-radius: 10%;
  height: 35px;
  width: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.btnDelete:hover {
  background-color: #af3949;
}

.btnEditLists {
  background: url(../images/edit.png);
  background-size: 100%;
  /* background-color: violet; */
  border: none;
  color: white;
  padding: 5px;
  border-radius: 10%;
  height: 35px;
  width: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.btnAddTask {
  color: var(--accentcolor);
  font-weight: 900;
  font-size: 18px;
  background-color: transparent;
  border: none;
  margin: 20px;
}

.mobileButtonsInLine .btnEditTasks {
  margin-top: 10px;
}

.mobileButtonsInLine .btnDelete {
  margin-top: 10px;
}

@media screen and (min-width: 1000px) {
  .mobileButtonsInLine .btnEditTasks {
    margin-top: 0px;
  }
  .mobileButtonsInLine .btnDelete {
    margin-top: 0px;
  }
}
