.navbar {
  background-color: #5d614d;
  text-decoration: none;
}

/* styling for TODO LOGO */
.navbar-brand {
  font-family: 'Shadows Into Light';
  font-size: 25px;
  text-decoration: none;
  color: white;
  background-color: rgb(208, 221, 134);
  border-radius: 50%;
  padding: 20px;
}

.navbar-brand:hover {
  color: white;
}

/* styling for ul */
.navbar-nav {
  font-size: 20px;
}

/* Styling for links in bar */
.nav-link {
  font-family: 'Poiret One';
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: rgb(208, 221, 134);
}

@media screen and (min-width: 1000px) {
  /* styling for TODO LOGO */
  .navbar-brand {
    font-size: 3rem;
    margin-left: 50px;
  }

  /* styling for ul */
  .navbar-nav {
    font-size: 2rem;
    margin: 20px;
    margin-left: 40px;
  }

  /* styling for li */
  .nav-item {
    padding: 20px;
  }

  /* Styling for links in bar */
  .nav-link {
    font-size: 2rem;
  }
}
