.spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonsInLine {
  display: flex;
  flex-direction: row;
}

.hidden {
  background-color: black;
}

.tasks {
  background-color: rgb(237, 238, 235);
  margin: 10px;
  padding: 10px;
}
